<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <% if (locals.user) {%>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/logout">Logout</a></li>
        <%} else {%>
            <a href="/login">Login</a>
        <%}%>
    </ul>
</nav>