<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>This will be a page that says to sign up</p>
    <p>Or this page will be the dashboard for a user and messages can be a partial view</p>
</body>
</html>