<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <%- include("partials/navbar") %>
    <% if (locals.origin && locals.origin === "signup") {%>
        <h1>Welcome!</h1>
        <p>Thank you for signing up! Login below to get started.</p>
    <% } else { %>
        <h1>Login</h1>
     <%}%>
    <%- include("partials/errors") %>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>