<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    <%- include("partials/navbar")%>
    <section>
    <h1>Messages</h1>
    <p>This will display all of our Messages</p>
    <p>Some information will conditionally render based on user status</p>
    <a href="/new-message">Add new message</a>
</section>
</body>
</html>