<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Post a new Message</h1>
    <p>form will go here</p>
    <a href="/messages">Back</a>
</body>
</html>